@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    @* <script src="~/js/demo.js"></script> *@
    <script src="~/js/twb-pgination.js"></script>
    <script src="~/js/student.js"></script>

}
<div id="table-content"></div>
<div id="pagination"></div>
<div>
    <a class="btn btn-success" href="/Home/CreateStudent">Create</a>
</div>
