@{
    ViewData["Title"] = "Home Page";
}
@model List<Application.Students.StudentViewModel>
<div class="text-center">
    @foreach(var student in Model)
    {
        <div>
            @student.Id @student.Name @student.Age
            <a href="/Home/UpdateStudent?id=@student.Id">Update</a>
        </div>
    }
</div>
