@using Application.Students;
@{
    ViewData["Title"] = "UpdateStudent";
}
@model StudentViewModel
<h1>UpdateStudent</h1>
<form method="post" action="/Home/UpdateStudent">
    @Html.AntiForgeryToken()
    <input hidden name="Id" value="@Model.Id" type="text" />
    <input name="Name" value="@Model.Name" type="text" />
    <input name="Age" value="@Model.Age" type="number" />
    <button class="btn btn-primary">Update</button>
</form>

