@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>Forbidden ⛔</title>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-danger bold mt-3">Oops! Forbidden (403)</h3>
                    <p>You don't have permission to access this resource.</p>
                    <p>Here are some possible reasons why this happened:</p>
                    <ul>
                        <li>You may not be logged in.</li>
                        <li>You may not have the necessary permissions to access this page.</li>
                        <li>The page may be temporarily unavailable.</li>
                    </ul>
                    <p>If you believe this is a mistake, please contact the website administrator.</p>

                    <a href="javascript:history.go(-1)" class="btn btn-primary">Go Back</a>
                </div>
            </div>
        </div>
    </section>
</main>