@model IList<string>?

@if (Model != null)
{
    if (Model.Contains("Admin"))
    {
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/bill/index">
                        <i class="bi bi-cart-fill"></i>
                        <span>Manage Orders</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/adminproduct/index">
                        <i class="bi bi-grid"></i>
                        <span>Manage Products</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/category/index">
                        <i class="bi bi-grid"></i>
                        <span>Manage Categories</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/brand/index">
                        <i class="bi bi-grid"></i>
                        <span>Manage Brands</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/role/index">
                        <i class="bi bi-person-vcard"></i>
                        <span>Manage Roles</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/user/index">
                        <i class="bi bi-person-circle"></i>
                        <span>Manage Users</span>
                    </a>
                </li><!-- End Dashboard Nav -->
            </ul>

        </aside>
        return;
    }
    if (Model.Contains("Manager"))
    {
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/bill/index">
                        <i class="bi bi-cart-fill"></i>
                        <span>Manage Orders</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/adminproduct/index">
                        <i class="bi bi-grid"></i>
                        <span>Manage Products</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/category/index">
                        <i class="bi bi-grid"></i>
                        <span>Manage Categories</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/brand/index">
                        <i class="bi bi-grid"></i>
                        <span>Mmanage Brands</span>
                    </a>
                </li>
            </ul>
        </aside>
    }
}