@section Styles {
    <link rel="stylesheet" href="~/molla/assets/css/skins/skin-demo-4.css">
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/molla/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Wishlist</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="page-content" id="wishlist-partial">
        
    </div><!-- End .page-content -->
</main><!-- End .main -->